<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Top Albums</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Your Top Albums</h1>
    <ul>
        <% albums.forEach(album => { %>
            <li>
                <div class="album-info">
                    <img src="<%= album.images[0] ? album.images[0].url : '/default-album.png' %>" alt="Album Cover" width="80" height="80">
                    <div>
                        <strong><%= album.name %></strong> <br>
                        <span>By <%= album.artists.map(artist => artist.name).join(', ') %></span>
                        <div class="track-list">
                            <strong>Top Tracks:</strong>
                            <ul>
                                <% album.tracks.forEach(track => { %>
                                    <li><%= track.name %></li>
                                <% }) %>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
        <% }) %>
    </ul>
</body>
</html>